@model TrashCollector.Models.Customer_PickupDayVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.DayForPickup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.DayForPickup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.ExtraPickup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.ExtraPickup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.ExtraPickupConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.ExtraPickupConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.PickupConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.PickupConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.SuspendStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.SuspendStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.SuspendEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.SuspendEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Zip)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Customer.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
